@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@font-face {
  font-family: Penumbra;
  src: url("./font/PenumbraSerifStd-Regular.otf") format("opentype");
}

/*
  gold text = #ffcb34
  gold color = #ba8c59
  gold on hover = #9e774a
  dark blue = #2a374a
  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Penumbra', sans-serif;
  text-decoration: none;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;

}

.loader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
}

/*Main title page */
.header{
  height: 100vh;
  width: 100%;
  background-image: url('./img/background.jpg');
  
}

.header-loaded{
height: 100%;
width: 100%;
  background-image: url('./img/background.jpg');
}

.ocp-background{
  background: rgba(77, 77, 77, 0.466);
  background-size: cover;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  position: relative;
}


.website-title{
  background: #2a374a;
  border: .3rem ridge #ba8c59;
  color: #ffcb34;
  padding: 5px;

}

.home{
  margin-top: 1rem;
  border: .5rem ridge #ba8c59;
  background: rgb(223, 222, 222);
  width: 75vw;
  height: 100%;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.308);
  display: flex;
}

.home-inside{
  background: rgb(223, 222, 222);
  display: flex;
  width: 75vw;
  height: 100%;
}

.home-info{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 66%;
}

.patch-notes{
  text-decoration: none;
  position: relative;
  width: 300px;
  height: 237px;
  margin-left: 2rem;
}

.patch-notes h2{
  margin-bottom: .5rem;
}

.patch-notes img{
  width: 100%;
  border: .5rem ridge #ba8c59;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.308);
}

.patch-notes img:hover{
  opacity: 90%;
  border: .5rem ridge #9e774a;
}

.esports h2{
  margin-bottom: .5rem;
}

.esports-img{
  padding: .5rem;
  background: #2a374a;
  height: 200px;
  width: 200px;
  border: .5rem ridge #ba8c59;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.308);
}

.esports-img:hover{
  border: .5rem ridge #9e774a;
  background: #253041;
}

.patch-title{
  text-align: center;
  background: #2a374a;
  position: absolute;
  color: #ffcb34;
  bottom: 3px;
  right: 7px;
  width: 95%;
  border-top: .3rem ridge #ba8c59;
}

.free-gods-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-bottom: 7px;
}

.free-god{
  color: black;
}

.free-gods{
  display: flex;
  flex-direction: column;
  width: 32%;
  margin: auto;
  margin-top: 1rem;
}

.free-gods h2{
  margin-bottom: .5rem;
}

.free-gods-img{
  border: .3rem ridge #ba8c59;
  height: 100px;
  width: 100px;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.308);
}

.free-gods-img:hover{
  border: .3rem ridge #9e774a;
  
}

.see-all-gods{
  color: black;
  margin: auto;
  text-decoration: none;
}

.see-all-gods a{
  color: black;
}

.see-all-gods a:hover{
  color: rgb(49, 49, 49);
}

.server-container{
  margin-top: .5rem;
  border: .5rem ridge #ba8c59;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.308);
}

.circle-up{
  background:green;
  height: 8px;
  width: 8px;
  border-radius: 5px;
}

.circle-down{
  background:red;
  height: 8px;
  width: 8px;
  border-radius: 5px;
}

.text-up{
  color: green;
}

.text-down{
  color: red;
}

.server{
  margin-left: 2rem;
}

.server-platform{
  padding: .5rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.server-platform  img{
  height: 16px;
  width: 16px;
}

.server-last-updated{
  font-size: .7rem;
}

.newest-god{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.newest-god h2{
  margin-bottom: .5rem;
}

.newest-god-container{
  height: 175px;
  width: 175px;
  position: relative;
}

.new-god-img{
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.308);
  background: #2a374a;
  width: 100%;
  border: .5rem ridge #ba8c59;
  
}

.new-god-img:hover{
  border: .5rem ridge #9e774a;
  
}

.new-god-name{
  background: #2a374a;
  position: absolute;
  color: #ffcb34;
  bottom: 8px;
  right: 8px;
  width: 91%;
  border-top: .3rem ridge #ba8c59;
}



/*Nav bar */

.btn-family{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}



.logo{
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}



.btn{
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  background: #2a374a;
  border: .5rem ridge #ba8c59;
  padding:7px ;
  font-weight: 1000;
}

.btn:hover{
  background: #34435a;
  
}

.btn a{
  color: #ffcb34;
  text-decoration: none;
}


/* Footer */
.footer-container{
  margin-top: 5rem;
  height: 100%;
  width: 100%;
}


.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  background: #2a374a;
  color: #ffcb34;
  border-top: .5rem ridge #ba8c59;
  height: auto;
  
  font-size: .7rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer a{
  color: #ffcb34;
  text-decoration: none;
}

.footer a:hover{
  color: #d3aa2f;
}

.footer-img{
  padding: 5px;
  height: 50px;
  width: 50px;
}

/*Search page */
.search{
  background: rgba(77, 77, 77, 0.466);
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 100vw;
  position: relative;
} 


.search-bg{
  height: 100%;
  width: 100vw;
  background-image: url('./img/background-search.jpg')
}
.search-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.search-form input{
  padding: 1rem;
}



.search-form > form:nth-child(1) > input:nth-child(1){
  border: .5rem ridge #ba8c59;
  font-size: 1.5rem;
}

.search-form > form:nth-child(1) > input:nth-child(2){
  border: .5rem ridge #ba8c59;
  color: #ffcb34;
  background: #2a374a;
  font-size: 1.5rem;
  cursor: pointer;
}
.search-form > form:nth-child(1) > input:nth-child(2):hover{
  background: #34435a;
}

.search-result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-result a{
  
  margin-bottom: auto;
  margin-top: 1rem;
  background: white;
  border: .5rem ridge #ba8c59;
  font-size: 1.8rem;

}

/*Usernames of search results */
.nameIcon{
  
  display: flex;
 color: black;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.nameIcon:hover{
  background: #e6e6e6
}

.nameIcon img{
  margin-left: 5px;
 margin-right: auto;
 margin-top: auto;
 margin-bottom: auto;
}


.nameIcon img{
  height: 25px;
}


/* Gods page*/
.god-background{
  background: url('./img/background-gods.jpg');
  
  height: 100vh;
  width: 100%;
}
.god-background-loaded{
  background: url('./img/background-gods.jpg');
  height: 100%;
  width: 100%;
  position: relative;
}


.god-title{
  text-align: center;
  padding: 1rem;
  width: 75vw;
  
  margin-top: .5rem;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff77;
  border-left: .4rem ridge #ba8c59;
  border-right: .4rem ridge #ba8c59;
  border-top: .4rem ridge #ba8c59;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.308);
}

.god-sort{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.god-sort ul{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;

}

.god-sort li{
  margin-left: 1rem;
  margin-right: 0.3rem;
  cursor: pointer;
}

.god-sort > ul:nth-child(1) > li:nth-child(1){
  cursor: default;
}



.god-sort img{
  height: 15px;
  width: 15px;
}

.active{
  background: #ffffffb6;
  border-radius: 4px;
}

.gods{
  
  background: rgb(223, 222, 222);
  width: 75vw;
  
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .8rem;
  border-left: .4rem ridge #ba8c59;
  border-right: .4rem ridge #ba8c59;
  border-bottom: .4rem ridge #ba8c59;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.473);
}

.gods-loaded{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}


.single-god{
  text-align: center;
  padding-bottom: 5px;
  color: rgb(0, 0, 0);
  cursor: default;
}

.single-god img{
  border: .5rem ridge #ba8c59;
  border-radius: 10px;
  height: 128px;
  width: 128px;
}

.single-god img:hover{
  border: .5rem ridge #9e774a;
  box-shadow: 9px 5px 17px 0px rgba(10, 10, 10, 0.308);
  cursor: pointer;
}

.class{
  display: flex;
  justify-content: center;
  cursor: default;
}

.class img{
  box-shadow: none;
  border: 0;
  height:15px;
  width: 15px;
  cursor: default;
}

.class img:hover{
  border: 0;
  box-shadow: 0px 0px 0px 0px rgba(10, 10, 10, 0);
  cursor: default;
}

.pantheon{
  display: flex;
  justify-content: center;
  cursor: default;
}

.pantheon img{
  box-shadow: none;
  border: 0;
  height:15px;
  width: 15px;
  cursor: default;
}

.pantheon img:hover{
  border: 0;
  box-shadow: 0px 0px 0px 0px rgba(10, 10, 10, 0);
  cursor: default;
}


/* god info page */
.godid-background{
  background: url('./img/background-godid.jpg');
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.godid-background-loaded{
  background: url('./img/background-godid.jpg');
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.godid-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  flex-direction: column;
  margin-top: 1rem;
  background: rgb(223, 222, 222);
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.473);
  border: .5rem ridge #ba8c59;
}

.godid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 1rem;
  background: rgb(223, 222, 222);
  
}

.god-lore{
  display: flex;
  justify-content: center;
  
}

.god-profile{
  text-align: center;
  width:25%;
  padding-top: 1rem;
  padding-right: .8rem;
  padding-left: 1rem;
}



.god-profile-img{
  width: 100%;
  height: auto;
  max-width: 100%;
  border: .5rem ridge #ba8c59;
}

.lore{
  width: 75%;
  padding-top: 1rem;
  font-size: .8rem;
  text-align: center;
  padding-right: 1rem;
}

.lore h1{
  padding-bottom: 1rem;
}

.hide{
  display: none;
  animation: fadeout 1s;
}

/* abilitys menu title */
.abilitys-menu{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
 border-bottom: .5rem ridge #ba8c59;
 
}

/*Button menu that changes */
.btn-line{
  width: 28px;
  height: 3px;
  margin: 0 0 3px 0;
  background: 
  rgb(0, 0, 0);
  transition: all 0.5s ease-out;
}

.menu-btn{
 margin-left: 5px;
 transition: all 0.5s ease-out;
 
}

.menu-btn.close {
	transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
	transform: rotate(46deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
	opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
	transform: rotate(-46deg) translate(4px, -3px);
}

/*Hidden abilitys */
.abilitys.show{
  padding-top: 10px;
  color: #ffcb34;
  background: #2a374a;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: .7rem;
  grid-gap: 5px;
  -webkit-box-shadow: inset 0px 10px 10px 0px rgba(44, 44, 44, 0.527); 
  box-shadow: inset 0px 10px 10px 0px rgba(44, 44, 44, 0.527);
  animation: fadein 1.5s;
  /* border-left: .5rem ridge #ba8c59;
  border-right: .5rem ridge #ba8c59; */
  border-bottom: .5rem ridge #ba8c59;
  text-align: center;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.abilitys.show p{
  padding-top: 7px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.ability-name{
  text-decoration: underline;
}

.godid-bottom{
  margin-top: 2rem;
}

/* Example Build */

.build-menu{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
 border-bottom: .5rem ridge #ba8c59;
}

.build.show{
  width: 100%;
  padding-top: 10px;
  color: #ffcb34;
  background: #2a374a;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: .7rem;
  grid-gap: 5px;
  -webkit-box-shadow: inset 0px 10px 10px 0px rgba(44, 44, 44, 0.527); 
  box-shadow: inset 0px 10px 10px 0px rgba(44, 44, 44, 0.527);
  animation: fadein 1.5s;
  text-align: center;
  border-bottom: .5rem ridge #ba8c59;
}

.rec-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.rec-items > p:nth-child(2){
  text-decoration: underline;
  padding-bottom: 5px;
}


.rec-items img{
  border: .3rem ridge #ba8c59;
  height: 60px;
  width: 60px;
  margin-bottom: 3px;
}

/* Player Info page */
.player-background{
  background: url(./img/background-player.jpg);
  height: 100vh;
  width: 100%;
}

.player-background-loaded{
  background: url(./img/background-player.jpg);
  height: 100%;
  width: 100%;
  position: relative;
}

.player-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border: .4rem ridge #ba8c59;
  width: 75vw;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.473);
  background: #e6e6e6;
}

.player{
  display: flex;
justify-content: space-between;


}

.player_info_container{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.player_info_container h1{
  padding: 5px;
  border-bottom: .5rem ridge #ba8c59;
}


.player_info{
  margin: auto;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
}

.player_info img{
  margin-bottom: 5px;
  height: 128px;
  width: auto;
  border: .5rem ridge #ba8c59;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.473);
}

.match-history-container{
  text-align: center;
}

.match-history-container h1{
  padding: 5px;
  border-bottom: .5rem ridge #ba8c59;
}

.match-history > div:nth-child(2) > svg:nth-child(1){
  overflow: inherit;
}

.rank-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rank-container h1{
  padding: 5px;
  border-bottom: .5rem ridge #ba8c59;
}

.ranked{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: auto;
}

.conquest h3{
  text-decoration: underline;
}

.Joust h3{
  text-decoration: underline;
}

.Duel h3{
  text-decoration: underline;
}

.top-gods-title{
  text-align: center;
  margin-bottom: .8rem;
  border-bottom: .5rem ridge #ba8c59;
}

.top-god-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*button see all */
.top-god-container a{
  grid-column: 5 /6;
  color: #ffcb34;
  text-align: center;
  text-decoration: none;
  background: #2a374a;
  border: .5rem ridge #ba8c59;
  padding: 5px;
  font-weight: 900;
  
}

.top-god-container a:hover{
  background: #34435a;
}

.top-god{
  text-align: center;
}

.top-god img{
  height: 90px;
  width: auto;
  border-radius: 10px;
  border: .5rem ridge #ba8c59;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.473);
  margin-bottom: 5px;
}



.achievements-title{
  text-align: center;
  margin-bottom: .8rem;
  border-bottom: .5rem ridge #ba8c59;
}

.achievements{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}


/* God stats table */
.background-player-gods{
  background: url('./img/background-player-gods.jpg');
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-player-gods-loaded{
  background: url('./img/background-player-gods.jpg');
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  position: relative;
}

.ReactTable{
  width: 75vw;
  height: auto;
  margin-top: 1rem;
  background: #e7e7e7;
  text-align: center;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.473);
  border: .4rem ridge #ba8c59 !important;
}

.god-img-table{
  
  height: 3rem;
  width: 3rem;
  border: .3rem ridge #ba8c59;
}


/* Item page */
.item-background{
  background: url(./img/background-items.jpg);
  height: 100vh;
  width: 100%;
}

.item-background-loaded{
  background: url(./img/background-items.jpg);
  height: 100%;
  width: 100%;
  position: relative;
}

.items-loaded{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
}

.single-item{
  text-align: center;
  padding-bottom: 5px;
  color: rgb(0, 0, 0);
  cursor: default;
  position: relative;
}

.single-item .tooltip p{
  padding-bottom: 5px;
}

.single-item .tooltip{
  visibility: hidden;
  width: 100%;
  height: auto;
  font-size: .8rem;
  background-color: #2a374a;
  color: #ffcb34;
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
  border: .3rem ridge #ba8c59;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 50%; 
}

.single-item:hover .tooltip{
  visibility: visible;
}

.single-item img{
  border: .5rem ridge #ba8c59;
  border-radius: 10px;
  height: 128px;
  width: 128px;
}

.single-item img:hover{
  border: .5rem ridge #9e774a;
  box-shadow: 9px 5px 17px 0px rgba(10, 10, 10, 0.308);
}



/*Media Querys */
/*Moblie*/
@media screen and (max-width: 420px) {
  
  /*Header */
  .logo{
    height: 50px;
    width: 50px;
    margin-right: 5px;
    
  }

  .btn{
    border: .2rem ridge #ba8c59;
    font-size: 1rem;
    padding: 5px;
    margin-right: 5px;
    margin-left: 0;
  }

  .website-title{
    border: .2rem ridge #ba8c59;
    padding: 3px;
    font-size: .8rem;
  }

  /* Footer */

  .footer{
    border-top: .3rem ridge #ba8c59;
    font-size: .6rem;
  }

  .footer a{
    display: none;
  }

  /*Home Page */
  .home{
    width: 90vw;
    border: .3rem ridge #ba8c59;
  }

  .home-inside{
    width: 100%;
    display: initial;
    font-size: .8rem;
  }

  .home-info{
    gap: 0;
    grid-gap: 0;
    width: 100%;
    
  }

  .patch-notes{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
    grid-column: 1 / 3;

  }

  .patch-notes img{
    border: .3rem ridge #ba8c59;
  }

  .patch-title{
    bottom: 7px;
    width: 97.5%;
    right: 4px;
  }

  .esports{
    margin-left: 5px;
  }

  .esports-img{
    width: 150px;
    height: 150px;
    border: .3rem ridge #ba8c59;
  }

  .esports-container{
    margin: auto;
  }

  .server{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    width: 300px;
  }

  .newest-god{
    grid-row: 2 / 3;
    grid-column: 2 /3;
    margin-right: 5px;
    margin-left: 0;
  }

  .new-god-name{
    bottom: 4px;
  width: 95%;
  right: 4px;
  }

  .newest-god-container{
    height: 150px;
    width: 150px;
  }

  .new-god-img{
    border: .3rem ridge #ba8c59;
  }

  .free-gods{
    width: 100%;
    text-align: center;
  }

  .class img{
    display: none;
  }

  .pantheon img{
    display: none;
  }

  /*Search page */
  .search-form{
    margin-top: 2rem;
  }

  .search-form form{
    display: flex;
    flex-direction: column;
  }

  .search-form > form:nth-child(1) > input:nth-child(1) {
    border-left: .3rem ridge  #ba8c59;
    border-top: .3rem ridge  #ba8c59;
    border-right: .3rem ridge  #ba8c59;
    border-bottom: none;
    font-size: 1rem;
  }

  .search-form > form:nth-child(1) > input:nth-child(2) {
    border: .3rem ridge #ba8c59;
    font-size: 1rem;
  }

  .search-form input {
    padding: .8rem;
  }

  .search-result a{
    border: .3rem ridge #ba8c59;
    font-size: 1.2rem;
  }

  /*Player page*/
  .player-container{
    width: 90vw;
    border: .3rem ridge #ba8c59;
  }

  .player{
    flex-direction: column;
  }

  .player_info{
    text-align: center;
  }

  .player_info_container h1{
    margin-bottom: .5rem;
  }

  .player_info img{
    border: .3rem ridge #ba8c59;
  }

  .rank-container h1{
    margin-bottom: .5rem;
  }

  .ranked{
    margin-bottom: .5rem;
  }

  .conquest img{
    height: 100px;
    width: 100px;
  }

  .Joust img{
    height: 100px;
    width: 100px;
  }

  .Duel img{
    height: 100px;
    width: 100px;
  }

  .top-god-container{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: .5rem;
    gap: 0;
    grid-gap: 0;
  }

  .top-god{
    margin-bottom: .5rem;
  }

  .top-god img{
    border: .3rem ridge #ba8c59;
  }

  .top-god-container a{
    grid-column: auto;
    height: 45px;
    align-self: end;
  }

  .achievements{
   grid-template-columns: 1fr 1fr 1fr;
  }

  /* Player Gods */
  .ReactTable{
    width: 90vw;
    font-size: .8rem;
  }



  /*gods*/

  .gods{
    width: 90vw;
    border-left: .3rem ridge #ba8c59;
    border-right: .3rem ridge #ba8c59;
    border-bottom: .3rem ridge #ba8c59;
  }

  .god-title{
    width: 90vw;
    border-left: .3rem ridge #ba8c59;
    border-right: .3rem ridge #ba8c59;
    border-top: .3rem ridge #ba8c59;
  }

  .god-sort ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .god-sort > ul:nth-child(1) > li:nth-child(1) {
    grid-column: 1 / 4;
  }

  .god-sort img{
    display: none;
  }

  .gods-loaded{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .single-god img{
    border: .3rem ridge #ba8c59;
    height: 80px;
    width: 80px;
  }

  .single-god p{
    font-size: .7rem;
  }

  .single-god h5{
    font-size: .5rem;
  }

  /*god-id page */
  .godid-container{
    width: 90vw;
    border: .3rem ridge #ba8c59;
  }

  .god-lore{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .god-profile{
    width: 75%;
  }

  .god-profile-img{
    border: .3rem ridge #ba8c59;
  }

  .lore{
    padding-right: 0;
  }

  .lore h1{
    text-decoration: underline;
  }

  .abilitys-menu{
    width: 88vw;
    border-bottom: .3rem ridge #ba8c59;
  }

  .abilitys.show{
    grid-template-columns:1fr;
    width: 100%;
    font-size: .6rem;
  }

  .abilitys.show div{
    height: auto;
    padding-bottom: 2px;
    border-bottom: 2px solid #ba8c59;
  }

  .abilitys > div:nth-child(5){
    border-bottom: none;
  }

  .build-menu{
    width: 88vw;
    border-bottom: .3rem ridge #ba8c59;
  }

  .build.show{
    grid-template-columns: 1fr 1fr;
  }

  /*Items */

  .items-loaded{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .single-item{
    font-size: .8rem;
  }

  .single-item img{
    border: .3rem ridge #ba8c59;
    border-radius: 10px;
    height: 80px;
    width: 80px;
  }

  .single-item img:hover{
    border: .3rem ridge #9e774a;
  }

  .single-item .tooltip{
    font-size: .5rem;
    padding: .5rem;
    left: 15%;
    top: 50px;
  }
}

/*Moblie*/
@media screen and (min-width: 650px) and (max-width: 800px) {
  /*Header Menu */
  .btn{
    border: .3rem ridge #ba8c59;
  }

  /*Footer*/
  .footer{
    font-size: .5rem;
  }

  /*home Page */
  .home{
    width: 80vw;
  }

  .home-inside{
    width: 100%;
    flex-direction: column;
  }

  .home-info{
    width: 100%;
  }

  .free-gods{
    width: 100%;
    text-align: center;
  }

  .free-gods-container{
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*Player stats*/
  .player-container{
    width: 80vw;
  }

  .player{
    flex-direction: column;
  }

  .player_info{
    text-align: center;
  }

  .player_info_container h1{
    margin-bottom: .7rem;
  }

  .rank-container h1{
    margin-bottom: .7rem;
  }

  /*PLayer gods stats */
  .ReactTable{
    width: 80vw;
  }

  /*Gods */
  .god-title{
    width: 80vw;
  }

  .god-sort ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 5px;
  }

  .gods{
    width: 80vw;
  }

  .single-god img{
    height: 100px;
    width: 100px;
  }

  .class img{
    height: 15px;
    width: 15px;
  }

  .pantheon img{
    height: 15px;
    width: 15px;
  }

  /*God id */
  .godid-container{
    width: 80vw;
  }

  .lore{
    font-size: .6rem;
  }

  .abilitys-menu{
    width: 100%;
  }

  .abilitys.show{
    font-size: .6rem;
  }

  .build-menu{
    width: 100%;
  }

  /*items*/
  .single-item{
    font-size: .8rem;
  }

  .single-item img{
    height: 100px;
    width: 100px;
  }

  .single-item .tooltip{
    font-size: .7rem;
    padding: .5rem;
    top: -70px;
  }
}

/*Big screecs*/
@media screen and (min-width: 1440px){
  .footer-container{
    margin-top: 10rem;
  }
}