@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* .header{
  display: grid;
  grid-template: 1fr
}

.search{
  display: grid;
  grid-template: 1fr
} */

.main{
  display: grid;
  grid-template-columns: 1fr 1fr
}
