@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@font-face {
  font-family: Penumbra;
  src: url("./font/PenumbraSerifStd-Regular.otf") format("opentype");
}

/*
  gold color = #ba8c59
  dark blue = #2a374a
  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Penumbra', sans-serif;
  text-decoration: none;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.loader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
}

/*Main title page */
.header{
  height: 100vh;
  width: 100vw;
  background-image: url('./img/background.jpg');
  
  
}
.ocp-background{
  background: rgba(77, 77, 77, 0.466);
  background-size: cover;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.header img{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.header p{
  background: #2a374a;
  border: .5rem ridge #ba8c59;
  color: #ffcb34;
  padding: 5px;
  margin-top: 1rem;
}

/*Nav bar */

.btn-family{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}



.btn{
  font-size: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  background: #2a374a;
  border: .5rem ridge #ba8c59;
  padding:7px ;
  font-weight: 1000;
}

.btn:hover{
  background: #34435a;
  
}

.btn a{
  color: #ffcb34;
  text-decoration: none;
}

/*Search page */
.search{
  background: rgba(77, 77, 77, 0.466);
  display: flex;
  flex-direction: column;
  
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 100vw;
} 

.search-bg{
  height: 100vh;
  width: 100vw;
  background-image: url('./img/background-search.jpg')
}
.search-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;;
}

.search-form input{
  padding: 1rem;
}



.search-form > form:nth-child(1) > input:nth-child(1){
  border: .5rem ridge #ba8c59;
  font-size: 1.5rem;
}

.search-form > form:nth-child(1) > input:nth-child(2){
  border: .5rem ridge #ba8c59;
  color: #ffcb34;
  background: #2a374a;
  font-size: 1.5rem;
  cursor: pointer;
}
.search-form > form:nth-child(1) > input:nth-child(2):hover{
  background: #34435a;
}

.search-result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-result a{
  
  margin-bottom: auto;
  margin-top: 1rem;
  background: white;
  border: .5rem ridge #ba8c59;
  font-size: 2rem;

}

/*Usernames of search results */
.nameIcon{
  
  display: flex;
 color: black;
  padding: 1rem;
}

.nameIcon:hover{
  background: #e6e6e6
}

.nameIcon img{
  margin-left: 5px;
 margin-right: auto;
 margin-top: auto;
 margin-bottom: auto;
}


.nameIcon img{
  height: 25px;
}


/* Gods page*/
.god-background{
  background: url('./img/background-gods.jpg');
  
  height: 100vh;
  width: 100vw;
}
.god-background-loaded{
  background: url('./img/background-gods.jpg');
  height: 100%;
  width: 100%;
  
}


.god-title{
  text-align: center;
  padding: 1rem;
  width: 75vw;
  
  margin-top: .5rem;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff77;
  border-left: .4rem ridge #ba8c59;
  border-right: .4rem ridge #ba8c59;
  border-top: .4rem ridge #ba8c59;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.308);
}

.god-sort{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.god-sort ul{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;

}

.god-sort li{
  margin-left: 1rem;
  margin-right: 0.3rem;
  cursor: pointer;
}

.god-sort > ul:nth-child(1) > li:nth-child(1){
  cursor: default;
}



.god-sort img{
  height: 15px;
  width: 15px;
}

.active{
  background: #ffffffb6;
  border-radius: 4px;
}

.gods{
  
  background: rgb(223, 222, 222);
  width: 75vw;
  
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .8rem;
  border-left: .4rem ridge #ba8c59;
  border-right: .4rem ridge #ba8c59;
  border-bottom: .4rem ridge #ba8c59;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.473);
}

.gods-loaded{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}


.single-god{
  text-align: center;
  padding-bottom: 5px;
  color: rgb(0, 0, 0);
  cursor: default;
}

.single-god img{
  border: .5rem ridge #ba8c59;
  border-radius: 10px;
  height: 128px;
  width: 128px;
}

.single-god img:hover{
  border: .5rem ridge #9e774a;
  box-shadow: 9px 5px 17px 0px rgba(10, 10, 10, 0.308);
  cursor: pointer;
}

.class{
  display: flex;
  justify-content: center;
  cursor: default;
}

.class img{
  border: 0;
  height:15px;
  width: 15px;
  cursor: default;
}

.class img:hover{
  border: 0;
  box-shadow: 0px 0px 0px 0px rgba(10, 10, 10, 0);
  cursor: default;
}

.pantheon{
  display: flex;
  justify-content: center;
  cursor: default;
}

.pantheon img{
  border: 0;
  height:15px;
  width: 15px;
  cursor: default;
}

.pantheon img:hover{
  border: 0;
  box-shadow: 0px 0px 0px 0px rgba(10, 10, 10, 0);
  cursor: default;
}


/* god info page */
.godid-background{
  background: #2a374a;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.godid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  flex-direction: column;
  margin-top: 1rem;
  background: rgb(223, 222, 222);
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.473);
  border: .5rem ridge #ba8c59;
}

.god-lore{
  display: flex;
  justify-content: center;
  
}

.god-profile{
  text-align: center;
  width:25%;
  padding-top: 1rem;
  padding-right: .8rem;
  padding-left: 1rem;
}



.god-profile-img{
  width: 100%;
  height: auto;
  max-width: 100%;
  border: .5rem ridge #ba8c59;
}

.lore{
  width: 75%;
  padding-top: 1rem;
  font-size: .8rem;
  text-align: center;
  padding-right: 1rem;
}

.lore h1{
  padding-bottom: 1rem;
}

.hide{
  display: none;
  animation: fadeout 1s;
}

/* abilitys menu title */
.abilitys-menu{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75vw;
 border-bottom: .5rem ridge #ba8c59;
 
}

/*Button menu that changes */
.btn-line{
  width: 28px;
  height: 3px;
  margin: 0 0 3px 0;
  background: 
  rgb(0, 0, 0);
  transition: all 0.5s ease-out;
}

.menu-btn{
 margin-left: 5px;
 transition: all 0.5s ease-out;
 
}

.menu-btn.close {
	transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
	transform: rotate(46deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
	opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
	transform: rotate(-46deg) translate(4px, -3px);
}

/*Hidden abilitys */
.abilitys.show{
  padding-top: 10px;
  color: #ffcb34;
  background: #2a374a;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: .7rem;
  grid-gap: 5px;
  -webkit-box-shadow: inset 0px 10px 10px 0px rgba(44, 44, 44, 0.527); 
  box-shadow: inset 0px 10px 10px 0px rgba(44, 44, 44, 0.527);
  animation: fadein 1.5s;
  /* border-left: .5rem ridge #ba8c59;
  border-right: .5rem ridge #ba8c59; */
  border-bottom: .5rem ridge #ba8c59;
  text-align: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Example Build */

.build-menu{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75vw;
 border-bottom: .5rem ridge #ba8c59;
}

.build.show{
  width: 100%;
  padding-top: 10px;
  color: #ffcb34;
  background: #2a374a;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: .7rem;
  grid-gap: 5px;
  -webkit-box-shadow: inset 0px 10px 10px 0px rgba(44, 44, 44, 0.527); 
  box-shadow: inset 0px 10px 10px 0px rgba(44, 44, 44, 0.527);
  animation: fadein 1.5s;
  text-align: center;
}


/* Player Info page */
.player-background{
  background: url(./img/background-player.jpg);
  height: 100vh;
  width: 100%;
}

.player-background-loaded{
  background: url(./img/background-player.jpg);
  height: 100%;
  width: 100%;
}

.player-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border: .4rem ridge #ba8c59;
  width: 75vw;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.473);
  background: #e6e6e6;
}

.player{
  display: flex;
justify-content: space-between;


}

.player_info_container{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.player_info_container h1{
  padding: 5px;
  border-bottom: .5rem ridge #ba8c59;
}


.player_info{
  margin: auto;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
}

.player_info img{
  margin-bottom: 5px;
  height: 128px;
  width: auto;
  border: .5rem ridge #ba8c59;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.473);
}

.match-history-container{
  text-align: center;
}

.match-history-container h1{
  padding: 5px;
  border-bottom: .5rem ridge #ba8c59;
}

.match-history > div:nth-child(2) > svg:nth-child(1){
  overflow: inherit;
}

.rank-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rank-container h1{
  padding: 5px;
  border-bottom: .5rem ridge #ba8c59;
}

.ranked{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: auto;
}

.conquest h3{
  text-decoration: underline;
}

.Joust h3{
  text-decoration: underline;
}

.Duel h3{
  text-decoration: underline;
}

.top-gods-title{
  text-align: center;
  margin-bottom: .8rem;
  border-bottom: .5rem ridge #ba8c59;
}

.top-god-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*button see all */
.top-god-container a{
  grid-column: 5 /6;
  color: #ffcb34;
  text-align: center;
  text-decoration: none;
  background: #2a374a;
  border: .5rem ridge #ba8c59;
  padding: 5px;
  font-weight: 900;
  
}

.top-god-container a:hover{
  background: #34435a;
}

.top-god{
  text-align: center;
}

.top-god img{
  height: 90px;
  width: auto;
  border-radius: 10px;
  border: .5rem ridge #ba8c59;
  box-shadow: 11px 7px 17px 0px rgba(10, 10, 10, 0.473);
}



.achievements-title{
  text-align: center;
  margin-bottom: .8rem;
  border-bottom: .5rem ridge #ba8c59;
}

.achievements{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}